.pagination {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.pagination__per-page {
    width: 85px;
    height: 50px;
}

.pagination__prev {
    margin-right: 10px;
}

.pagination__next {
    margin-right: 10px;
}