.search {
  position: relative;
}

.search__header {
  position: relative;
}

.search__content {
  padding: 20px 10px;
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search__logo {
  width: 50px;
  height: 50px;
}

.search__dummy-progress {
    width: 100%;
    height: 4px;
}
