.search {
  position: relative;
}

.search__header {
  position: relative;
}

.search__content {
  padding: 20px 10px;
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search__input-wrap {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;

  width: 100%;
}

.search__input {
  margin-right: 10px;
  width: 100%;
}

.search__button {
  width: 100px;
}

.search__logo {
  width: 50px;
  height: 50px;
}

.search__user-icon {
  margin-right: 10px;
}
